<% if @cat.errors.present? %>
  <h4>You had the following errors:</h4>
  <ul>
    <% @cat.errors.full_messages.each do |error| %>
    <li><%= error %></li>
    <% end %>
  </ul>
<% end %>


<%= form_for @cat do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :color %>
  <%= f.text_field :color %>
  <%= f.submit "Create Cat" %>
<% end %>